* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Dark-Mode-Background: hsl(207, 26%, 17%);
  --Light-Mode-Text: hsl(200, 15%, 8%);
  --Light-Mode-Input: hsl(0, 0%, 52%);
  --Light-Mode-Background: hsl(0, 0%, 98%);
  --Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);
}

html {
  font-size: 14px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}

/* Font Sizes */
.where-world {
  font-size: 1.5rem;
  font-weight: 800;
}

.country-name {
  font-size: 1.275rem;
  font-weight: 800;
}

.country-data p {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
}

.country-data p span {
  font-weight: 300;
}

header,
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background-color: var(--Dark-Mode-Elements);
}

.filter {
  background-color: var(--Dark-Mode-Background);
  padding-top: 3.5rem;
}

.all-countries {
  background-color: var(--Dark-Mode-Background);
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: auto;
  min-height: 100vh;
}

.search-filter,
.region-filter {
  flex: 1;
  display: flex;
}

.region-filter {
  justify-content: flex-end;
}

#search-country,
#regions {
  height: 4rem;
  background-color: var(--Dark-Mode-Elements);
  border: none;
  border-radius: 0.375rem;
  color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
  padding: 0 2rem;
}

#search-country {
  width: 30%;
}

#regions {
  width: 40%;
}

.country {
  flex: 1;
  min-width: 20%;
  margin: 2rem 2%;
  background-color: var(--Dark-Mode-Elements);
  border-radius: 0.375rem;
}

.country-header {
  width: 100%;
  height: 200px;
}

.country-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.country-section {
  padding: 2rem 1.5rem;
}

.country-data {
  margin-top: 1.5rem;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 13px;
  }

  .country {
    min-width: 30%;
  }

  /* .statistic-box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10rem;
    height: 6.675rem;
    text-align: center;
    margin-top: 1rem;
  } */
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .country {
    min-width: 45%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 11px;
  }

  .all-countries {
    justify-content: center;
  }

  .country {
    min-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 10px;
  }
}
